/* ESTILOS UNIVERSALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS HEADER */
body{
    font-family: 'Lato', sans-serif;
    color: #333333;
    background-color: #eeeeee;
}
.main-header{
    background-color: rgba(138, 221, 45, 0);
}
.header-wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    /* soluciona que los floats salgan de su contenedor */
    overflow: hidden;
}
.header-logo{
    float: left;
}
.header-menu{
    float: right;
}
.header-menu ul li{
    display: inline-block;
    list-style: none;
    margin-top: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: bold;
}
nav ul li a:hover{
    color: white;
    background-color: #1abc9c;
    border-radius: 5px;

}
.cover{
    background-image: url('../img/uni.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 0;
}
.cover .cover-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    padding: 40px;
}
.cover-photo-container img{
    border-radius: 50%;
}
.cover-text{
    background-color: rgba(70, 203, 253, 0.5);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}
.btn{
    margin-top: 30px;
}
#btn-header{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 60px;
    background-color: #1abc9c;
    border-radius: 25px;
    font-size: 1.3em;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}
/*  */
.title-underline{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-top: 20px;
}
.title-underline span{
    display: inline-block;
    border-bottom: 8px solid #7757f6;
    margin-bottom: 20px;
}
.cover-description{
    background-color: white;
    text-align: center;
    padding: 25px;
    font-size: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
}
.cover-description span{
    color: cadetblue;
    font-size: 1em;
    text-transform: uppercase;
}
.btn-blue{
    display: inline-block;
    /* font-weight: 700; */
    /* text-transform: uppercase; */
    color: darkgray;
    font-size: 1em;
    text-decoration:  none;
    border: 2px solid #7757f6;
    padding: 10px 15px;
    /* la trancision se realizara cuando se aplique el hover */
    transition: background-color 0.5s;
    margin-top: 20px;
}
.btn-blue:hover{
    background-color: dodgerblue;
    color: #eeeeee;
    /* border: none; */
}
.skill-wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.skill-item{
    list-style: none;
}
.skills-text{
    text-transform: uppercase;
    color: darkslategray;
    font-weight: 700;
    margin: 10px 0;
    padding: 10px 0;
    overflow: hidden;
}
.skill-name{
    float: left;
}
.skill-score{
    float: right;

}
.skills-bar{
    width: 100%;
    height: 30px;
    background-color: #606060;
}
.skills-progress{
    width: 80%;
    height: 30px;
    background-color: darkcyan;
}

/********************
    SECTION CARDS / PORTFOLIO
********************/
.works{
    background-color: #fff;
    padding-bottom: 30px;
    padding-top: 50px;
    text-align: center;
}
.works-item{
    display: inline-block;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.45);
}
.card-description{
    max-width: 80%;
    margin: 0 auto;
}
.card-description div{
    font-weight: 500;
    font-size: 1.3em;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-description p{
    line-height: 1.7;
    margin-bottom: 10px;
    word-spacing: 2px;
    font-size: 1.1em;
}
.works-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.item-container{
    text-align: center;
    margin-top: 20px;
}
.item-container a{
    text-decoration: none;
    color: #606060;
}
.works-img{
    width: 89px;
    border-radius: 45px;
}
.btn-card{
    margin-bottom: 10px;
}
.btn-card a{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 30px;
    background-color: #1abc9c;
    border-radius: 25px;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}
/* SECCION DE CONTACTO */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact input, textarea{
    border: none;
}
.contact textarea{
    min-width: 400px;
    min-height: 80px;
    max-width: 400px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    padding: 5px;
    
}
.input-column input{
    padding: 15px;
    width: 400px;
    font-size: 1em;
    border-radius: 5px;
    font-weight: 400;
}
.input-column label{
    font-size: 1.3em;
}
.container-input{
    margin-bottom: 25px;
}
.contact #btn-send{
    border: 1px solid tomato;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 1em;
    margin-top: 15px;
    transition: all 0.6s;
}
.contact #btn-send:hover{
    background-color: tomato;
    color: #eeeeee;
}
.contact form{
    margin-bottom: 50px;
}
/* PIE DE PÁGINA */
footer{
    background-color: #606060;
    color: #eeeeee;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a{
    color: #eeeeee;
}
footer p{
    margin-left: 30px;
}
.footer-wrapper{
    display: flex;
    justify-content: center;
}